
<app-header></app-header>
<br />
<div class="container">
  <input name="username" class="form-control" type="text" [(ngModel)]="username" placeholder="Username"> <br />
  <input name="password" class="form-control"  type="password" [(ngModel)]="password" placeholder="Password"> <br />
  <input class="btn btn-info" type="submit" style="background-color: rgb(0, 153, 153)" (click)="login();false" value="Login" />
  <input class="btn btn-info" type="submit" [routerLink]="['/registration']" value="Register" />
</div>
<app-footer></app-footer>
<ngx-loading [show]="loading"></ngx-loading>
