<app-header></app-header>
<div>
  <input style="background-color: rgb(0, 153, 153)" class="btn btn-info" type="submit" (click)="logout()" value="Logout" />
</div>
<div>
<div class="container">
  <div *ngIf="!selectedTopicId">
    <textarea placeholder="Post topic" class="form-control" name="postTopicText" [(ngModel)]="postTopicText">

      </textarea>
    <button style="background-color: rgb(0, 153, 153)" class="btn btn-info" (click)="postTopic()">Post</button>
  </div>
  <br />
  <span *ngFor="let topic of topics">
    <button class="btn btn-info" [ngStyle]="{'background-color': this.selectedTopicId == topic['id'] ? 'rgb(0, 153, 153)' : '#17a2b8'}" (click)="selectTopic(topic['id'])">{{topic['name']}}</button>
  </span>
  <div *ngIf="selectedTopicId">
    <div>
      <textarea placeholder="Post message" class="form-control" name="postText" [(ngModel)]="postText">

      </textarea>
      <button class="btn btn-info" (click)="postMessage()">Post</button>
    </div>
    <div *ngFor="let post of posts">
      <div>
        <em *ngIf="post['replyto']">{{getMessageText(post['replyto']['id'])}}</em>
        <font size="+1">{{post['message']}}</font><br />
        Author: {{post['author']['username']}}<br />
        Time: {{post['timestamp'] | date: 'HH:mm:ss dd/MM/yyyy'}} <br /><br />
        <!--<button class="btn btn-info" (click)="openReplyWindow(post['id'])">Reply</button>-->
        <!--<div *ngIf="selectedReplyToId == post['id']">-->
          <!--<div>-->
            <!--<textarea class="form-control" placeholder="Post reply" name="postReplyText" [(ngModel)]="postReplyText"></textarea>-->
            <!--<button class="btn btn-info" (click)="postReplyMessage()">Post</button>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
<ngx-loading [show]="loading"></ngx-loading>
