<app-header></app-header>
<div class="container">
  <br clear="all" />
  <form class="hpform">
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" /> <br />
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" /> <br />

    <input type="submit" style="background-color: rgb(0, 102, 0)" (click)="register();" value="Register" /><br />
    <input type="submit" [routerLink]="['/login']" value="Login" /><br />
  </form>
</div>
<app-footer></app-footer>
<ngx-loading [show]="loading"></ngx-loading>
