<app-header></app-header>
<div class="container">
  <br clear="all" />
  <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" /> <br />
  <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" /> <br />

  <input class="btn btn-info" type="submit" style="background-color: rgb(0, 153, 153)" (click)="register();" value="Register" />
  <input class="btn btn-info" type="submit" [routerLink]="['/login']" value="Login" />
</div>
<app-footer></app-footer>
<ngx-loading [show]="loading"></ngx-loading>
